html{
    background-color: rgba(146, 54, 54, 1);
    text-align: left;
    font-family: "Lucida Console", monospace;
    color: white;
    padding-left: 7.34%;
}

h1{
    margin-left: 1%;
}

h2{
    margin-left: 2%;
}

.bg{
    width: 90%;
    height: 300%;
    background-color: white;
    position: absolute;
    margin-left: .04%;
    margin-top: 0.06%;
}

.menu{
    width: 7.9%;
    height: 17.3%;
    background-color: #161616;
    position: absolute;

    top: 0%;
    left: 0%;
}