html{
    background-color: rgba(146, 54, 54, 1);
    text-align: center;
    font-family: "Lucida Console", monospace;
    color: white;
}

.links {
    color: #000000;
    padding: 12px 15px;
    text-align: center;
    display: block;
    font-size: 16px;
    margin: 12px auto;
    cursor: pointer;
    border: none;
    border-radius: 8px;
  }

  .links:hover {
    color: rgba(146, 54, 54, 1);
    text-decoration: underline;
}

a{
    text-decoration: none;
}

