html{
    background-color: rgb(162, 25, 25);
    text-align: center;
    font-family: "Lucida Console", monospace;
    color: white;
}

#boxy{
    background-color: white;
    width: 500px;
    height: max-content;
}

