html{
    background-color: rgba(146, 54, 54, 1);
    text-align: left;
    font-family: "Lucida Console", monospace;
    color: white;
    margin-left: 9vw;
    margin-right: 3vw;
    margin-top: 2vh;
}

h1{
    font-size: 6vh;
}

h2{
    font-size: 4vh;
    font-weight: bold;
    padding-top: 4vh;
}

p{
    font-size: 2.3vh;
    line-height: 3.3vh;
}

.flexA{
    display: flex;
    flex-direction: colummn;
}

.icon {
    background-color: white;
    width: 5vw;
    height: 5vw;

}

.sidebar{
    background-color: #161616;
    position: fixed;
    padding: 2vw;
}