html{
    background-color: rgba(146, 54, 54, 1);
    text-align: left;
    font-family: "Lucida Console", monospace;
    color: white;
    margin-left: 7vw;
    margin-right: 3vw;
    margin-top: 4vh;
}

h1{
    font-size: 4vh;
}

h2{
    font-size: 3vh;
    font-weight: bold;
}

p{
    font-size: 2.3vh;
}